# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# sqllite database
*.db

# binary and selenium logs
__pycache__/
geckodriver.log

# account information (in txt files)
*.txt
admin_config.py
secrets.py
config.json

# pdfs with information
*.pdf
